ul{
    font-style: italic;
    position: absolute;
    top: 65%; left: 36%; 
    transform: translate(-50%, -50%);
}
li span{
    color:rgba(246, 246, 246, 0.908);
    font-size: 11px;
}
li{
    font-size: 15px;
}
.conditions{
    margin:10px 0px 10px 0;
}
.Reset{
    position: absolute;
    top: 40%; left: 36%; 
    transform: translate(-50%, -50%);
}
