#col3{
    margin: 40px 0 0 80px;
    width:60%;
    display:inline-block;
}
#homeHomeID{
    width: 40%;
}
#homeHomeName{
    width: 40%;
}
#homeStreet{
    width: 40%;
}
#homeCity{
    width: 40%;
}
#homeRegion{
    width: 40%;
}
#homePostCode{
    width: 40%;
}
.HomeSubmit{
    width: 15%;
    height: 5%;
    position: absolute;
    top: 88%; left: 13%; 
    transform: translate(-50%, -50%);
}